<div class="side-bar-header">
  <a href="https://example.com" class="user-name-link">Tom</a>

  <div class="create-room">
    <a href="https://example.com" class="room-create-link">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room-list">
    <a href="#" class="room">techroom1</a>
    <a href="#" class="room">techroom2</a>
    <a href="#" class="room">techroom3</a>
    <a href="#" class="room">techroom4</a>
    <a href="#" class="room">techroom5</a>
    <a href="#" class="room">techroom6</a>
    <a href="#" class="room">techroom7</a>
    <a href="#" class="room">techroom8</a>
    <a href="#" class="room">techroom9</a>
    
  </div>
</div>